html,body{
  font-family: cairo;
}
.background{
  background-image: url(https://img.freepik.com/free-photo/shopping-cart-filled-with-coins-copy-space-background_23-2148305919.jpg?t=st=1716137623~exp=1716141223~hmac=0cf6afa346e93e2706f631a72c8e3dd276a3747c7089f7d6b9240f413f1557e5&w=740);

}
.App {
  text-align: center;
}
/* .bg-primary{
  background-color: #678fdf !important;
}
.bg-success{
  background-color: #67df9b !important;
}
.bg-info{
  background-color: #dfb249 !important;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
